<form [formGroup]="form" (ngSubmit)="saveProduct($event)">
    <mat-card>
      <mat-card-header>Producto</mat-card-header>
  
      <mat-card-content>
  
        <div class="row">
          <div class="col-xs">
            <mat-form-field>
              <input
                placeholder="Title"
                formControlName="title"
                matInput
                type="text"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xs">
            <mat-form-field>
              <input
                placeholder="Price"
                formControlName="price"
                matInput
                type="number"
              />
            </mat-form-field>
            <div *ngIf="form.get('price').errors && form.get('price').dirty">
              <p *ngIf="form.get('price').hasError('price_invalid')">
                Este precio no es valido
              </p>
              <p *ngIf="form.get('price').hasError('required')">
                El campo es requerido
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs">
            <mat-form-field>
              <textarea
                placeholder="Description"
                formControlName="description"
                matInput
              ></textarea>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button [disabled]="form.invalid" mat-raised-button type="submit">
          Guardar
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
  